@import "../../styles/theme.scss";

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4rem 6rem;
	color: $color-white;
	background: rgb(0, 0, 0);
	background: radial-gradient(
		circle,
		rgba(0, 0, 0, 1) 0%,
		rgba(240, 34, 139, 1) 25%,
		rgba(0, 0, 0, 1) 100%
	);

	h2 {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	.phoneIcon {
		width: 3rem;
		height: 3rem;
		margin-bottom: 1rem;
	}

	.freeCallRequest_first {
		font-size: 1.8rem;
		margin-bottom: 1rem;
	}

	.freeCallRequest_second {
		font-size: 1.2rem;
		margin-bottom: 4rem;
	}

	.btn {
		padding: 1rem 3rem;
		border: none;
		border-radius: 0.5rem;
		background-color: $color-main;
		text-transform: uppercase;
		cursor: pointer;
		transition: 0.3s;

		&:hover {
			background: none;
			box-shadow: 0 0 1rem 0 $color-main;
			color: $color-main;
		}
	}
}

@media (max-width: 992px) {
	.container {
		text-align: center;
		padding: 4rem 3rem;

		h2 {
			font-size: 1.6rem;
		}

		.freeCallRequest_second {
			font-size: 1rem;
			margin-bottom: 2rem;
		}
	}
}
