@import "../../styles/theme.scss";

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 6rem 0;

	h2 {
		font-size: 4rem;
		margin-bottom: 4rem;
	}

	.cardsContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 4rem;
	}

	.card {
		background: rgb(18, 18, 18);
		background: linear-gradient(
			90deg,
			rgba(18, 18, 18, 1) 0%,
			rgba(71, 71, 71, 1) 50%,
			rgba(18, 18, 18, 1) 100%
		);
		box-shadow: rgba(206, 14, 253, 0.4) 5px 5px,
			rgba(210, 8, 197, 0.3) 10px 10px, rgba(221, 0, 255, 0.2) 15px 15px,
			rgba(255, 17, 239, 0.1) 20px 20px, rgba(193, 2, 120, 0.05) 25px 25px;
		// box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(1, 1, 1, 0.3) 10px 10px,
		// 	rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px,
		// 	rgba(0, 0, 0, 0.05) 25px 25px;
		width: 20rem;
		padding: 2rem 3rem;
		color: $color-white;

		h3 {
			font-size: 2.8rem;
			color: $color-main;
		}

		.price {
			font-size: 2.8rem;
			margin-right: 0.5rem;
			color: $color-main;
		}

		ul {
			list-style: none;
			margin: 1.6rem 0;

			li {
				font-size: 1.1rem;
				margin: 1.2rem 0;

				.open {
					color: $color-main;
				}

				.close {
					color: rgb(218, 30, 30);
				}
			}
		}
	}
}
