@import "../../styles/theme.scss";

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	margin: 4rem 6rem;

	.image {
		// width: 30vw;
		// height: 90vh;
		width: 30rem;
		height: 50rem;
		object-fit: cover;
	}

	.accordion {
		width: 40vw;

		h2 {
			text-align: center;
			font-size: 3.2rem;
			margin-bottom: 4rem;
		}

		&__item {
			background-color: rgb(200, 200, 200);
			margin: 0.5rem;
			padding: 1rem;
			cursor: pointer;
			transition: color 0.5s;

			&:hover {
				color: $color-main;
			}
		}

		&__box {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__question {
			word-spacing: 2px;
		}

		&__answer {
			margin-top: 1rem;
			font-size: 1.2rem;
			word-spacing: 2px;
			color: rgb(0, 0, 0);
		}
	}
}
